/*
Theme Name: HTL Theme
Author: Da Sempa
Description: Mein erstes Wordpress Theme.
Version: 1.0
Tags: perfekt
*/

.wrapper {
    display: flex;
    flex-direction: row;
}

.main-content {
    flex: 2;
}

.sidebar {
    flex: 1;
    margin-left: 20px;
}